@font-face {
  font-family: 'Montserrat-UltraLight';
  src: url('../fonts/text-font/Montserrat-UltraLight.eot?#iefix') format('embedded-opentype'),  
       url('../fonts/text-font/Montserrat-UltraLight.otf')  format('opentype'),
	   url('../fonts/text-font/Montserrat-UltraLight.woff') format('woff'), 
	   url('../fonts/text-font/Montserrat-UltraLight.ttf')  format('truetype'), 
	   url('../fonts/text-font/Montserrat-UltraLight.svg#Montserrat-UltraLight') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat-Light';
  src: url('../fonts/text-font/Montserrat-Light.eot?#iefix') format('embedded-opentype'),  
       url('../fonts/text-font/Montserrat-Light.otf')  format('opentype'),
	   url('../fonts/text-font/Montserrat-Light.woff') format('woff'), 
	   url('../fonts/text-font/Montserrat-Light.ttf')  format('truetype'), 
	   url('../fonts/text-font/Montserrat-Light.svg#Montserrat-Light') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat-Regular';
  src: url('../fonts/text-font/Montserrat-Regular.eot?#iefix') format('embedded-opentype'),  
       url('../fonts/text-font/Montserrat-Regular.otf')  format('opentype'),
	   url('../fonts/text-font/Montserrat-Regular.woff') format('woff'), 
	   url('../fonts/text-font/Montserrat-Regular.ttf')  format('truetype'), 
	   url('../fonts/text-font/Montserrat-Regular.svg#Montserrat-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat-SemiBold';
  src: url('../fonts/text-font/Montserrat-SemiBold.eot?#iefix') format('embedded-opentype'),  
       url('../fonts/text-font/Montserrat-SemiBold.otf')  format('opentype'),
	   url('../fonts/text-font/Montserrat-SemiBold.woff') format('woff'), 
	   url('../fonts/text-font/Montserrat-SemiBold.ttf')  format('truetype'), 
	   url('../fonts/text-font/Montserrat-SemiBold.svg#Montserrat-SemiBold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat-Bold';
  src: url('../fonts/text-font/Montserrat-Bold.eot?#iefix') format('embedded-opentype'),  
       url('../fonts/text-font/Montserrat-Bold.otf')  format('opentype'),
	   url('../fonts/text-font/Montserrat-Bold.woff') format('woff'), 
	   url('../fonts/text-font/Montserrat-Bold.ttf')  format('truetype'), 
	   url('../fonts/text-font/Montserrat-Bold.svg#Montserrat-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat-ExtraBold';
  src: url('../fonts/text-font/Montserrat-ExtraBold.eot?#iefix') format('embedded-opentype'),  
       url('../fonts/text-font/Montserrat-ExtraBold.otf')  format('opentype'),
	   url('../fonts/text-font/Montserrat-ExtraBold.woff') format('woff'), 
	   url('../fonts/text-font/Montserrat-ExtraBold.ttf')  format('truetype'), 
	   url('../fonts/text-font/Montserrat-ExtraBold.svg#Montserrat-ExtraBold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat-Black';
  src: url('../fonts/text-font/Montserrat-Black.eot?#iefix') format('embedded-opentype'),  
       url('../fonts/text-font/Montserrat-Black.otf')  format('opentype'),
	   url('../fonts/text-font/Montserrat-Black.woff') format('woff'), 
	   url('../fonts/text-font/Montserrat-Black.ttf')  format('truetype'), 
	   url('../fonts/text-font/Montserrat-Black.svg#Montserrat-Black') format('svg');
  font-weight: normal;
  font-style: normal;
}


body{
	font-family: 'Montserrat-Regular';
	font-size:14px;
	padding-top:150px;
}

h1, h2, h3, h4, h5, h6{
	font-weight:normal;
	font-family: 'Montserrat-Bold';
	margin:0;
}

.times-new-roman{
	font-family:"Times New Roman", Times, serif;
}

.ultralight{
	font-family: 'Montserrat-UltraLight';
}

.light{
	font-family: 'Montserrat-Light';
}

.semibold{
	font-family: 'Montserrat-SemiBold';
}

.bold{
	font-family: 'Montserrat-Bold';
}

.extrabold{
	font-family: 'Montserrat-ExtraBold';
}

.black{
	font-family: 'Montserrat-Black';
}

h1{
	font-size:40px;
}

h2{
	font-size:25px;
}

/********************font icon******************/

@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?j5p1k8');
  src:  url('../fonts/icomoon.eot?j5p1k8#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.woff2?j5p1k8') format('woff2'),
    url('../fonts/icomoon.ttf?j5p1k8') format('truetype'),
    url('../fonts/icomoon.woff?j5p1k8') format('woff'),
    url('../fonts/icomoon.svg?j5p1k8#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-linkedin:before {
  content: "\e904";
}
.icon-tumblr:before {
  content: "\e905";
}
.icon-googleplus:before {
  content: "\e906";
}
.icon-behance:before {
  content: "\e907";
}
.icon-pinterest:before {
  content: "\e908";
}
.icon-facebook:before {
  content: "\e900";
}
.icon-instagram:before {
  content: "\e901";
}
.icon-twitter:before {
  content: "\e902";
}
.icon-youtube:before {
  content: "\e903";
}
